<p></p>
<div class="card text-center border-success mb-3" style="width:60%">
    <div class="card-header border-success">
       politica
    </div>
    <div class="card-body">
        <p class="card-text"> O anúncio do plano de privatização da Eletrobrás provocou uma onda de euforia no mercado financeiro: as ações da estatal fecharam com valorização de 49,3%, e seu valor de mercado saltou, num dia, cerca de R$ 9 bilhões, atingindo R$ 29 bilhões . Lula, Dilma e Lobão são os pais da destruição de um setor que tinha sido antes grande responsável pelo crescimento da economia desde o regime militar. A intervenção de Dilma no Twitter após o sucesso do anúncio da privatização lembra-me a históriaa do ca...</p>
    </div>
    <div class="card-body">
        <a href="http://politica.estadao.com.br/blogs/neumanne/egua-de-atila/" class="card-link">veja a notícia na íntegra</a>
    </div>
   <div class="card-footer border-success" >
        23 de agosto de 2017 
    </div>
</div>
<p></p>
<div class="card text-center border-success mb-3" style="width:60%">
    <div class="card-header border-success">
       economia
    </div>
    <div class="card-body">
        <p class="card-text">Dilma participou de reunião com Lula e Emilio Odebrecht sobre pagamento de R$ 300 milhões pela empreiteira, diz Palocci. Lula orientou Dilma a manter relação com a Odebrecht em todos os seus aspectos, lícitos e ilícitos, diz ex-ministro ao juiz Sérgio Moro..  O ex-ministro Antonio Palocci declarou à Justiça que os ex-presidentes Lula e Dilma Rousseff participaram, em 2010, de uma reunião com o empresário Emilio Odebrecht na qual foi discutido o pagamento de R$ 300 milhões em "contribuição". O en...</p>
    </div>
    <div class="card-body">
        <a href="https://g1.globo.com/pr/parana/noticia/dilma-participou-de-reuniao-com-lula-e-emilio-odebrecht-sobre-pagamento-de-r-300-milhoes-pela-empreiteira-diz-palocci.ghtml" class="card-link">veja a notícia na íntegra</a>
    </div>
   <div class="card-footer border-success" >
        06/09/2017 19h46 
    </div>
</div>
<p></p>
<div class="card text-center border-success mb-3" style="width:60%">
    <div class="card-header border-success">
       politica
    </div>
    <div class="card-body">
        <p class="card-text">Lula e Vaccari se queixavam de Dilma e Graça Foster, diz Santana. Marqueteiro João Santana afirmou que João Vaccari tesoureiro do PT dizia que ex-presidente criticava Dilma Rousseff por ter nomeado Graça Foster para presidente da Petrobras..  Nos relatos a investigadores da Operação Lava Jato, o ex-marqueteiro do PT João Santana disse que o ex-presidente Luiz Inácio Lula da Silva e o ex-tesoureiro do PT João Vaccari Neto criticavam, em conversas particulares, a ex-presidente Dilma Rousseff e a e...</p>
    </div>
    <div class="card-body">
        <a href="https://g1.globo.com/politica/operacao-lava-jato/noticia/lula-se-queixava-de-graca-foster-por-atrasar-pagamento-a-empresas-amigas-diz-santana.ghtml" class="card-link">veja a notícia na íntegra</a>
    </div>
   <div class="card-footer border-success" >
        12/05/2017 18h47 
    </div>
</div>
<p></p>
<div class="card text-center border-success mb-3" style="width:60%">
    <div class="card-header border-success">
       politica
    </div>
    <div class="card-body">
        <p class="card-text">Marcelo Odebrecht diz acreditar que Lula sabia de propinas, mas diz nunca ter falado sobre isso com o ex-presidente. Ex-presidente do Grupo Odebrecht abriu rodada de depoimentos de réus em processo que apura se o petista recebeu propina da empreiteira. Cada político ou funcionário do alto escalão da Petrobras se reportava sempre ao mesmo executivo, que era apelidado de padrinho, segundo Marcelo. .  O ex-presidente do Grupo Odebrecht, Marcelo Odebrecht, abriu nesta segunda-feira (4) a rodada de d...</p>
    </div>
    <div class="card-body">
        <a href="https://g1.globo.com/pr/parana/noticia/marcelo-odebrecht-diz-acreditar-que-lula-sabia-de-propinas-mas-diz-nunca-ter-falado-sobre-isso-com-o-ex-presidente.ghtml" class="card-link">veja a notícia na íntegra</a>
    </div>
   <div class="card-footer border-success" >
        05/09/2017 00h07 
    </div>
</div>
<p></p>
<div class="card text-center border-danger mb-3" style="width:60%">
    <div class="card-header border-danger">
       tv_celebridades
    </div>
    <div class="card-body">
        <p class="card-text">Dilma vê ‘golpe militar’ na Turquia e ‘parlamentar’ no Brasil. Presidente afastada compara impeachment com situação política de país que viveu tentativa de tomada de poder.  A presidente afastada Dilma Rousseff voltou a defender nesta segunda-feira, 18, seu mandato durante evento na Universidade Federal do ABC (UFABC), em São Bernardo do Campo, e a classificar de “golpe” o seu processo de impeachment. Diante de uma plateia formada por quase 500 alunos, professores e sindicalistas do ramo da Educ...</p>
    </div>
    <div class="card-body">
        <a href="http://politica.estadao.com.br/noticias/geral-dilma-ve-golpe-militar-na-turquia-e-parlamentar-no-brasil-10000063671" class="card-link">veja a notícia na íntegra</a>
    </div>
   <div class="card-footer border-danger" >
        18 de julho de 2016 
    </div>
</div>
<p></p>
<div class="card text-center border-danger mb-3" style="width:60%">
    <div class="card-header border-danger">
       politica
    </div>
    <div class="card-body">
        <p class="card-text">Filósofa petista entra em paranoía e diz que Sérgio Moro age a mando do FBI.  A filosofa petista Marilena Chauí não fala, ela rosna.  Dona de frases abobalhadas como "Eu odeio a classe média" , "A classe média é o atraso de vida",  "A classe média é uma abominação política" , "A classe média é o atraso de vida" entre tantas outras asneiras que até um jumento morreria de vergonha, a petista extrapolou os limites da baboseira no último domingo. Em um vídeo publicado nas redes sociais, a filósofa p...</p>
    </div>
    <div class="card-body">
        <a href="https://www.diariodobrasil.org/filosofa-petista-entra-em-paranoia-e-diz-que-sergio-moro-age-a-mando-do-fbi/" class="card-link">veja a notícia na íntegra</a>
    </div>
   <div class="card-footer border-danger" >
       05/07/2017
    </div>
</div>
<p></p>
<div class="card text-center border-danger mb-3" style="width:60%">
    <div class="card-header border-danger">
       politica
    </div>
    <div class="card-body">
        <p class="card-text">Renan Calheiros entrega Lula: "Ele se refugiou na Casa Civil porque sabia que seria preso".  Renan Calheiros fala abertamente sobre o dinheiro sujo da Odebrecht em sua campanha e incrimina o ex-presidente Lula.  Em gravação feita pelo ex-diretor da Petrobras,  Sérgio Machado,  e divulgada hoje pelo jornal Folha/SP,  Renan cita e incrimina Lula. Renan diz a Sérgio Machado que Lula se refugiou na Casa Civil porque soube que seria preso: SÉRGIO MACHADO  [Dilma] acabou. E o Lula,  como foi a conver...</p>
    </div>
    <div class="card-body">
        <a href="https://www.diariodobrasil.org/renan-calheiros-entrega-lula-ele-se-refugiou-na-casa-civil-porque-sabia-que-seria-preso/" class="card-link">veja a notícia na íntegra</a>
    </div>
   <div class="card-footer border-danger" >
       25/05/2016
    </div>
</div>
<p></p>
<div class="card text-center border-danger mb-3" style="width:60%">
    <div class="card-header border-danger">
       politica
    </div>
    <div class="card-body">
        <p class="card-text">A confissão de um crime: "A Petrobras é uma caixa branca. A gente sabe tudo que acontece lá dentro". .  Em 7 de outubro de 2010,  quando Lula ainda era presidente,  percorrendo o país como cabo eleitoral da então candidata Dilma Rousseff,  o petista foi filmado em Angra dos Reis usando uma roupa de operário da Petrobras e dircursando. Era para ser apenas uma cerimônia de lançamento da plataforma P-57,  mas acabou virando palanque eleitoral para Dilma. transcrição da fala de Lula: " Eles falam qu...</p>
    </div>
    <div class="card-body">
        <a href="https://www.diariodobrasil.org/a-confissao-de-um-crime-a-petrobras-e-uma-caixa-branca-a-gente-sabe-tudo-que-acontece-la-dentro/" class="card-link">veja a notícia na íntegra</a>
    </div>
   <div class="card-footer border-danger" >
       09/02/2016
    </div>
</div>
<p></p>
<div class="card text-center border-danger mb-3" style="width:60%">
    <div class="card-header border-danger">
       politica
    </div>
    <div class="card-body">
        <p class="card-text">COITADISMO: Lula faz papel de vítima e diz que Dilma terá que comer "marmitex".  Lula reclamou ontem (06) dos cortes na alimentação e nas viagens aéreas da presidente Dilma Rousseff.  Em discurso,  o ex-presidente disse que Temer não tinha o direito de fazer o que fez. "Ele cortou até o almoço da Dilma. Amanhã vamos comer marmitex",  disse o petista,  em ato organizado pelas centrais sindicais no RJ. Sobre as as restrição ao uso de aviões oficiais,  o petista ameaçou: "Não vão impedir Dilma de s...</p>
    </div>
    <div class="card-body">
        <a href="https://www.diariodobrasil.org/coitadismo-lula-faz-papel-de-vitima-e-diz-que-dilma-tera-que-comer-marmitex/" class="card-link">veja a notícia na íntegra</a>
    </div>
   <div class="card-footer border-danger" >
       07/06/2016
    </div>
</div>
<p></p>
<div class="card text-center border-danger mb-3" style="width:60%">
    <div class="card-header border-danger">
       politica
    </div>
    <div class="card-body">
        <p class="card-text">Senadora que berrava "é gópi ... é gópi " durante impeachment de Dilma recebeu R$ 1,2 milhão da JBS.  A senadora recebeu três agrados da JBS que totalizam R$ 1.165.000,00.  Durante a votação do impeachment de Dilma Rousseff no senado, uma senadora do Rio Grande do Norte ficou conhecida nacionalmente por defender (com unha e dentes) a ex-presidenta. Maria de Fátima Bezerra (PT-RN) fez discursos estrondosos e algumas de suas frases ficaram em nossa memória: "É gópi (golpe) ... É gópi (golpe) ... a...</p>
    </div>
    <div class="card-body">
        <a href="https://www.diariodobrasil.org/senadora-que-berrava-e-gopi-e-gopi-durante-impeachment-de-dilma-recebeu-r-12-milhao-da-jbs/" class="card-link">veja a notícia na íntegra</a>
    </div>
   <div class="card-footer border-danger" >
       22/05/2017
    </div>
</div>
